@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg-color: #232323;
    --text-color: #efefef;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    min-height: 100dvh;
}

/* Hide scrollbar but keep scrolling */
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}

#app {
    height: 100%;
}


.hljs {
  @apply block;
}
html:not(.dark) .hljs {
  @import 'highlight.js/styles/github-dark.css';
}

/* dark mode */
html.dark .hljs {
  @import 'highlight.js/styles/github.css';
}

html.dark .hljs {
  background: #efefef;
  color: #232323;
}

html:not(.dark) .hljs {
  background: #232323;
  color: #efefef;
}
