@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

::root {
    --bg-color: #232323;
    --text-color: #FF0000;
}

html,
body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    height: 100dvh;
}

#app {
    height: 100%;
}
